input, textarea {
  border: none;
  outline: none;
}
td {
  padding: 5px;
  vertical-align: top; /* Align content to the top */
}
.table-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

table {
width: 60%;
border-collapse: collapse;
}

td.wide {
width: 50%;
padding: 0px;
}
td.narrow {
width: 25%;
}

.detail {
  margin-bottom: 10px; /* Add space between items */
}


.top-right-td{
  width: 25%;
  height: 50px;
}


.innertd{
width: 50vw;
height: 5vh;
padding: 0px;
border-collapse: collapse;
/* border-top: 1px;
border-bottom: 1px; */
}
.items{
height: 30px;
}
.noborder{
border: 0px;
}


.terms-of-delivery{
  height: 150px;

}